@model Participation
<form asp-action="Part" asp-controller="Users" method="post">
    <input type="hidden" asp-for="@Model.UserId" >
    <input type="hidden" asp-for="@Model.WeddingId" >
    <Button class="btn btn-outline-danger" type="submit">
        RSVP
    </Button>
</form>